{% from "macro/header.html" import head with context %}
{% from "macro/navigator.html" import navigator with context %}
{% from "macro/footer.html" import footer with context %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>

    {{ head(location) }}

</head>
<body class="d-flex flex-column h-100">

{% block navigator %}
{{ navigator() }}
{% endblock %}

<main role="main" class="flex-shrink-0">
    <div class="container">

        {% block container %}
        {% endblock %}

    </div>
</main>

{{ footer() }}

</body>
</html>