{% macro navigator_hor(menu) %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>

    {% if  session['is_authenticated'] %}

    <div class="btn-group justify-content-between mr-md-3">
      <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session.username}}</button>
      <div class="dropdown-menu dropdown-menu-right">
         <a class="dropdown-item" href="#">Action 1</a>
         <a class="dropdown-item" href="#">Action 2</a>
         <a class="dropdown-item" href="#">Action 3</a>
       <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="signOut">Sign Out</a>
      </div>
    </div>

{% else %}


        <a class="btn btn-secondary btn-sm mr-md-3" href="signIn">Sign In</a>


{% endif %}





</nav>

{% endmacro %}

